@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	:root {
		--background: 0 0% 100%;
		--foreground: 222.2 84% 4.9%;

		--card: 0 0% 100%;
		--card-foreground: 222.2 84% 4.9%;

		--popover: 0 0% 100%;
		--popover-foreground: 222.2 84% 4.9%;

		--primary: 222.2 47.4% 11.2%;
		--primary-foreground: 210 40% 98%;

		--secondary: 210 40% 96.1%;
		--secondary-foreground: 222.2 47.4% 11.2%;

		--muted: 210 40% 96.1%;
		--muted-foreground: 215.4 16.3% 46.9%;

		--accent: 210 40% 96.1%;
		--accent-foreground: 222.2 47.4% 11.2%;

		--destructive: 0 84.2% 60.2%;
		--destructive-foreground: 210 40% 98%;

		--border: 214.3 31.8% 91.4%;
		--input: 214.3 31.8% 91.4%;
		--ring: 222.2 84% 4.9%;

		--radius: 0.5rem;
	}

	.dark {
		--background: 0 0% 0%;
		--foreground: 255 255 255;

		--card: 0 0% 0%;
		--card-foreground: 255 255 255;

		--popover: 0 0% 0%;
		--popover-foreground: 255 255 255;

		--primary: 0, 0%, 7%;
		--primary-foreground: 221 60% 98%;

		--secondary: 0, 0%, 11%;
		--secondary-foreground: 255 255 255;

		--muted: 0, 0%, 11%;
		--muted-foreground: 231 231 231;

		--accent: 0, 0%, 0%;
		--accent-foreground: 255 255 255;

		--destructive: 0, 0%, 13%;
		--destructive-foreground: 255 255 255;

		--border: 0, 0%, 72%;
		--input: 0, 0%, 74%;
		--ring: 0, 0%, 76%;
	}
}

::selection {
	background-color: hsl(var(--primary));
	color: hsl(var(--primary-foreground));
	/* for dark theme */
}

@layer base {
	* {
		@apply box-border;
	}
	body {
		@apply bg-background text-foreground;
	}
}

@layer components {
	.section {
		@apply overflow-hidden px-4 md:px-6 py-3 md:w-[700px] mx-auto flex flex-col justify-between items-start gap-3;
	}
	.about-image {
		@apply absolute aspect-square -z-10 rounded-xl rotate-12 object-cover;
	}
}
.image-flip {
	transition: transform 0.5s cubic-bezier(0.1, 0.5, 0.9, 1);
	transform: scale(1, 1);
}

.image-flip:hover {
	transform: scale(-1, 1);
}
